<!DOCTYPE html>
<html>
<head>
  <title>Charles Brody</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/bootstrap' %>

  <!--Gmail Verification-->
  <meta name="google-site-verification" content="5E_AE7SjBeaHr5S7PnLGe1FYVQoyKyTsOdhs67m5uuk" />

</head>
<body>
<%= render 'layouts/nav' %>


<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>
